* {
    padding: 0;
    margin: 0;
}
.container {
    width: 1148px;
    margin: auto;
}
.header {
    margin-top: 63px;
    /* display: flex;
    justify-content: space-between; */
}
.row {
    width: 1148px;
}
.header_title {
    color: #000000;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    font-size: 48px;    
}

.header_main {  

    color: #989898;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
.text { 
    display: inline;
    padding: 15px;
}
.text:first-child {
    padding: 0;
}
.text:last-child {
    padding: 0;
}
.slider {
    background-color: #ffe1bd;
    margin-top: 69px;
    text-align: center;
    height: 520px;
}
.slider_title {


    padding-top: 139px;

    color: #000000;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;

    font-size: 72px;
}
.slider_line {
    width: 55px;
    height: 2px;

    background-color: #000000;

    margin:29px auto 0;
}
.slider_dots {
    display: flex;
}
.slider_text {
    margin:25px auto 0;
    

    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    align-items: center;
    justify-content: center;
}
.slider_button {
    width: 170px;

    border-radius: 25px;
    
    background-color: #000000;

    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 1px;
    padding: 15px 25px;
    margin-top: 80px;  
}
.slider_slide {
    display: block;

    border-radius: 100%;
    border: 3px solid #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    opacity: 0.85;

    width: 13px;
    height: 13px;

    margin-top: 17px;
    margin-right: 29px;
}
.slider_slide:hover {
    background-color: black;
    border-radius: 100%;
}
.service_title {
    color: #000000;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 40;
    line-height: 48px;

    text-align: center;

    margin-top: 87px;
}
.services {
    display: flex;
    margin-top: 100px;
}
.services_img1 {
    display: block;
    width: 560px;
}
.services_title_text_button1 {
    margin-left: 96px;
}
.services_title {
    width: 184px;

    color: #000000;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 300;
    line-height: 20px;
    font-weight: 300;
}
.span_title {
    color: #000000;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 300;
    line-height: 62px;
    font-family: "Montserrat - Bold";
    font-size: 48px;
    font-weight: 700;
}
.services_line {
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin-top: 30px;
}
.services_text1 {
    width: 474px;
    color: #656565;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 28px;
}
.services_text2 {
    width: 474px;
    color: #656565;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 58px;
}
.services_button {
    width: 170px;
    
    border-radius: 25px;
    background-color: white;
    
    padding: 15px 25px;
    margin-top: 49px;

    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 1px;
}
.services_img2 {
    display: block;
    width: 560px;
    margin-left: 114px;
}
.our_work {
    width: 1148px;
    margin-top: 100px;
    box-sizing: content-box;
}
.our_work_img3 {
    display: block;
    height: 364px;
    width: 364px;
}
.our_work_img4 {
    width: 364px;
    display: block;
    margin-left: 24px;
}
.our_work_img5 {
    width: 364px;
    display: block;
    height: 364px;
    margin-left: 24px;
}
.our_work_img6 {
    width: 364px;
    display: block;
}
.thumb {
    display: flex;
}
.mrg {
    margin-top: -226px;
}
.our_work_button {
    width: 170px;

    border-radius: 25px;
    
    background-color: #000000;

    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 1px;
   

    padding: 15px 25px;
    margin-top:50px;
    margin: auto;
    display: block;
}

